<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Team</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <header class="header-box">
        <div class="logo">
            <img src="/css/images/phl-logo.png" alt="PHL Logo">
        </div>

        <div class="headers">
            <h1>Peninsula Hoopers League: Edit a Team</h1>
        </div>
    </header>
    <main class="team-form">
        <form action="/users/<%= user._id %>/teams/<%= team._id %>?_method=PUT" method="POST">

            <label for="name">Team Name:</label>
            <input type="text" name="name" id="name" value="<%= team.name %>"/>

            <label for="division">Division:</label>
            <select name="division">
                <option value="Open Division" <%= team.division === '' ? 'selected' : ''%>>Open Division</option>
                <option value="Open Rec Division" <%= team.division === 'Open Rec Division' ? 'selected' : ''%>>Open Rec Division</option>
                <option value="Open Asian Division" <%= team.division === 'Open Asian Division' ? 'selected' : ''%>>Open Asian Division</option>
                <option value="Age 40 and Over Division" <%= team.division === 'Age 40 and Over Division' ? 'selected' : ''%>>Age 40 and Over Division</option>
                <option value="Age 50 and Over Division" <%= team.division === 'Age 50 and Over Division' ? 'selected' : ''%>>Age 50 and Over Division</option>
                <option value="6 Feet Under All-Filipino" <%= team.division === '6 Feet Under All-Filipino' ? 'selected' : ''%>>6 Feet Under All-Filipino'</option>
            </select>
            
            <button type="submit">Update Team</button>
        </form>
    </main>
</body>
</html>