<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Teams</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <header class="header-box">
        <div class="logo">
            <img src="/css/images/phl-logo.png" alt="PHL Logo">
        </div>

        <div class="headers">
            <h1>Peninsula Hoopers League: My Teams</h1>
        </div>
    </header>
    <main class="teams">
        <% teams.forEach(team => { %>
            <a href="/users/:userId/teams/<%= team._id %>">
                <div class="team-card">
                    <h2><%= team.name %></h2>
                    <p><%= team.division %></p>
                </div>
            </a>
        <% }); %>
        <div>
            <a href="/users/<%= user._id %>/teams/new">Add a Team</a>
        </div>
    </main>
</body>
</html>