<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= team.name %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="logo">
        <img src="/css/images/phl-logo.png" alt="PHL Logo">
        <h1>Peninsula Hoopers League</h1>
    </div>
    <main class="team-page">

        <section class="team-headers">
            <div class="logo">
                <img src="/css/images/phl-logo.png" alt="PHL Logo">
            </div>

            <h1 class="team-name"><%= team.name %></h1>

            <div class="logo">
                <img src="/css/images/phl-logo.png" alt="PHL Logo">
            </div>

        </section>

        <section class="team-details">

            <div>
                <h2><strong>Team Name:</strong> <%= team.name %></h2>
            </div>

            <div>
                <h2><strong>Division:</strong> <%= team.division %></h2>
            </div>

            <div>
                <h2><strong>Team Creator:</strong> <%= team.owner.firstname %> <%= team.owner.lastname %></h2>
            </div>

        </section>

        <section class="team-players">
            <h2><strong>Players:</strong></h2>
            <% if  (team.players.length > 0) { %>
                <% team.players.forEach(player => { %>
                    <a href="/users/<%= user._id %>/teams/<%= team._id %>/players/<%= player._id %>">
                        <div>
                            <p><strong>Name:</strong> <%= player.firstname %> <%= player.lastname %></p>
                            <p><strong>Height:</strong> <%= player.height%></p>
                            <p><strong>Position:</strong> <%= player.position %></p>
                        </div>
                    </a>
                <% }) %>
            <% } else { %>
                <p><strong>Team <%= team.name %> has no players yet.</strong></p>
            <% } %>
            <% if (currentUser && currentUser._id.toString() === user._id.toString()) { %>
                <a href="/users/<%= user._id %>/teams/<%= team._id %>/players/new" class="btn">Add A Player</a>
            <% } %>     
        </section>
        
        <section class="team-actions">
            <% if (currentUser && currentUser._id.toString() === user._id.toString()) { %>
                <a href="/users/<%= team.owner._id %>/teams/<%= team._id %>/edit" class="btn"> Edit This Team</a>

                <form action="/users/<%= team.owner._id %>/teams/<%= team._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete This Team</button>
                </form>
            <% } %>
        </section>
    </main>
</body>
</html>