<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= team.name %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <header class="header-box">
        <div class="logo">
            <img src="/css/images/phl-logo.png" alt="PHL Logo">
        </div>

        <div class="headers">
            <h1>Peninsula Hoopers League</h1>
        </div>
    </header>
    <main class="team-page">

        <section class="team-headers">
            <p class="team-name"><%= team.name %> Basketball Team</p>
        </section>

        <section class="team-details">

            <div>
                <p><strong>Team Name:</strong> <%= team.name %></p>
            </div>

            <div>
                <p><strong>Division:</strong> <%= team.division %></p>
            </div>

            <div>
                <p><strong>Team Creator:</strong> <%= team.owner.firstname %> <%= team.owner.lastname %></p>
            </div>

        </section>

        <section class="team-players">
            <h2><strong>Players</strong></h2>
            <div id="team-box-div">
                <% if  (team.players.length > 0) { %>
                    <% team.players.forEach(player => { %>
                        <a href="/users/<%= user._id %>/teams/<%= team._id %>/players/<%= player._id %>" class="player-cards">
                                <p><strong>Name:</strong> <%= player.firstname %> <%= player.lastname %></p>
                                <p><strong>Height:</strong> <%= player.height%></p>
                                <p><strong>Position:</strong> <%= player.position %></p>                   
                        </a>
                    <% }) %>
                <% } else { %>
                    <p><strong>Team <%= team.name %> has no players yet.</strong></p>
                <% } %>
            </div>
            
                <% if (currentUser && currentUser._id.toString() === user._id.toString()) { %>
                    <div id="add-player-btn">
                        <a href="/users/<%= user._id %>/teams/<%= team._id %>/players/new" class="btn">Add A Player</a>
                    </div>
                <% } %>   
        </section>
        
            <% if (currentUser && currentUser._id.toString() === user._id.toString()) { %>
                <div id="team-actions">
                    <a href="/users/<%= team.owner._id %>/teams/<%= team._id %>/edit" class="btn"> Edit This Team</a>

                    <form action="/users/<%= team.owner._id %>/teams/<%= team._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete This Team</button>
                    </form>
                </div>
            <% } %>
    </main>
</body>
</html>