<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Teams</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/images/phl-logo.png" type="image/png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <main>
        <header class="header-box">
            <div class="logo">
                <img src="/css/images/phl-logo.png" alt="PHL Logo">
            </div>

            <div class="headers">
                <h1>Peninsula Hoopers League: Current Teams</h1>
            </div>
        </header>
        <section>
            <% users.forEach(user => { %>
                <% user.teams.forEach(team => { %>
                    <a href="/users/<%= user._id %>/teams/<%= team._id %>">
                        <div class="team-cards">
                            <h2>Team <%= team.name %></h2>
                            <h3>by <%= user.firstname %> <%= user.lastname %></h3>
                        </div>
                    </a>
                <% }) %>
            <%}) %>
        </section>
    </main>
</body>
</html>